.main {
  padding: 0px 40px 40px 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;

  .card {
    background-color: white;
    aspect-ratio: 1/ 1;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 50%;
      height: 50%;
      object-fit: cover;
    }
  }
}

@media screen and (max-width: 600px) {
  .main {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 600px) {
  .main {
    padding: 20px;
  }
}
