.main {
  padding: 40px;
}

.img {
  width: 100%;
  height: auto;
  margin: 40px 0px;
  cursor: none;
}

.img:hover {
  backdrop-filter: blur(1em);
}

@media screen and (max-width: 600px) {
  .main {
    padding: 20px;
  }
}

.card {
  margin-top: 80px;
  background-color: #1b1b1b;
  color: white;
  padding: 40px;
  border-radius: 15px;

  p {
    color: rgba(255, 255, 255, 0.6);
  }

  .cardcoldesc {
    position: relative;
  }

  button {
    background-color: #272727;
    border: none;
    color: rgba(255, 255, 255, 0.6);
    padding: 10px 20px;
    border-radius: 15px;
    font-size: 18px;
    position: absolute;
    bottom: 0px;
  }
}

@media screen and (max-width: 768px) {
  .cardcoldesc {
    height: 300px;
  }

  .card {
    button {
      margin-bottom: 40px;
    }
  }
}

@media screen and (max-width: 600px) {
  .card {
    padding: 20px;

    button {
      margin-bottom: 20px;
    }
  }
}
