.main {
  padding: 0px 40px 100px 40px !important;
}

.row {
  margin-top: 40px;
}

.col > div {
  border-top: 1px solid white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
