.footer {
  padding: 100px 40px 40px 40px !important;

  .social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
    padding: 40px;
    border-top: 1px solid white;

    div {
      display: flex;
      gap: 40px;
    }
  }
}

@media screen and (max-width: 600px) {
  .footer {
    padding: 100px 20px 20px 20px !important;
  }

  .social {
    padding: 20px !important;
    display: block !important;

    div {
      display: block !important;

      a {
        display: block;
      }
    }
  }
}
