.main {
  padding: 0px 40px !important;

  h1 {
    margin-bottom: 40px;
  }

  .myswiper {
    height: 450px;

    .swiper-wrapper {
      height: 100%;

      .swiper-slide {
        height: 100%;

        .news {
          position: relative;
          width: 350px !important;
        }
      }
    }
  }

  img {
    object-fit: cover;
    object-position: center;
    margin-bottom: 20px;
  }

  span {
    background-color: white;
  }
}

.title {
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}

@media screen and (max-width: 600px) {
  .main {
    padding: 0px 20px !important;
  }

  .news {
    padding-top: 40px;
    margin: 0px !important;
  }
}
