.main {
  margin-bottom: 100px;

  button {
    background-color: transparent;
    border: none;
    color: white;
  }

  button:hover {
    color: rgba(255, 255, 255, 0.5);
  }

  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .offset {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
    background-color: #610000;
    padding: 40px;
    z-index: 100;

    .links {
      position: absolute;
      bottom: 40px;
      display: flex;
      flex-wrap: wrap;
      gap: 15px;

      h1:hover {
        color: rgba(255, 255, 255, 0.5);
        cursor: pointer;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .links {
    display: block !important;
  }

  .offset {
    padding: 20px !important;
  }

  .links {
    bottom: 20px !important;
  }
}
